@import './vars.scss';

/* Container to enable scrolling with fixed header and footer */
.svb-table-container {
  position: relative;
  max-height: 500px; // Adjust as needed
  overflow: auto;
}

/* Table styles */
.svb-table {
  width: 100%;
  border-collapse: collapse;
}

/* Fixed header */
.svb-table thead {
  background-color: $main-color;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Fixed footer (if you have one) */
.svb-table tfoot {
  background-color: $main-color;
  color: white;
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.svb-table th,
.svb-table td {
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

.svb-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.svb-table tbody tr.hover {
  background-color: #e9eff7;
}

.svb-table tbody tr.active {
  background-color: #cce5ff;
}

/* Optional: Adjust text alignment based on data */
.svb-table th,
.svb-table td {
  text-align: left;
}

/* You can add more styles as per your design requirements */
